################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/code/CountriesProxy/.vs/CountriesProxy/FileContentIndex
/code/CountriesProxy/.vs/CountriesProxy/v17
/code/CountriesProxy/CountriesProxy.API/obj
